* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
}

aside#search-summary-sidebar {
    padding: 10px;
}

/* HEADER STYLES */
header {
  background-color: #fafafa;
  width: 100%;
}

header .container {
  display: flex;
  margin: auto;
}

header img#google-nav-logo {
  width: 85px;
  height: 45px;
}

header div.header-main-content {
  width: 98%;
}

header nav {
  display: flex;
}

header nav ul li {
  display: inline;
  list-style: none;
}

header form {
  width: 70%;
}

header div#form-bar {
  display: flex;
  flex-wrap: nowrap;
}

header div#right-aligned-icon-set {
  display: inline-flex;
  width: 30%;
  justify-content: flex-end;
}

header div#right-aligned-icon-set p {
  display: inline;
}

@media screen and (min-width:800px) {

/* SEARCH RESULTS CONTAINER */
.container {
  max-width: 1200px;
  display: flex;
}

section#main-search-results {
    width: 62%;
}
aside#search-summary-sidebar {
    width: 38%;
    order: 2;
}
}
